body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
#switch {
    margin-top: 5px;
    margin-left: 87%;
    margin-bottom: 2px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
#switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #5e0419;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
header{
    margin: 0 auto;
    background-color: #1a5b7c;
    display: grid;
    grid-template: 150px/ 2fr 3fr;
    color: #ffffff;
    width: 85%;
    box-shadow: 5px 5px 10px black;
}
header h1{
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
header img{
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
}
nav{
    margin: auto;
    width: 75%;
}
.navigation{
    display: flex;
	flex-direction: column;
    margin: auto;
    
}
.navigation li{
    margin-top: .5em;
    margin-bottom: .2em;
    background-color:  #5e0419;
    list-style-type: none;
    display: none;
    box-shadow: 5px 5px 10px black;
}
.navigation li a:hover{
    background-color: #f7e4e3;
    color: #1a5b7c;
}
.navigation li a{
    padding: 5px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: large;
    color:#ffffff;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: sticky;
}
#menu::before {
	content: "☰";
}
#menu.open::before{
    content: "❌";
}
#hero_box{
    margin: 0 auto;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    width: 85%;
    box-shadow: 5px 5px 10px black;
}
#hero_image{
    grid-row: 1/3;
    grid-column: 1/3;
    width: 100%;
    justify-content: center;
}
#action_call{
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
}
#join_now{
    background-color: #5e0419;
    color:#ffffff;
    box-shadow: 5px 5px 10px black;
    width: 30%;
    font-size: 125%;
    text-align: center;
    padding: .5em;
    border-radius: 10%;
    position: absolute;
    top: 20%;
    left: 20%;
}
#join_now:hover{
    background-color: #f7e4e3;
    color: #1a5b7c;
}
main{
    padding: 2%;
    margin: auto;
    width: 75%;
}
.dark{
    background-color:#252424;
}
.dark .card{
    background-color: #18455c;
    border: 2px solid black;
    color: white;
}
.card{
    border: 2px solid #38030f;
    background-color: #e2f1fa;
    margin: 5px;
    padding: 3px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
footer{
    margin: 0 auto;
    background-color: #1a5b7c;
    color: #ffffff;
    width: 85%;
    text-align: center;
    box-shadow: 5px 5px 10px black;
}