@media screen and (min-width: 1000px) {
    #menu{
        display: none;
    }
    .navigation{
        display: flex;
        flex-direction: row;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    #main-home{
        display: grid;
        grid-template: 200px 50px 1fr 1fr/1fr 1fr;
    }
    #join_now{
        width: 50%;
    }
    #current_events{
        grid-row: 3/5;
        grid-column: 1/2;
    }
}