body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
header{
    margin: 0 auto;
    padding: .5em;
    background-color: #1a5b7c;
    display: grid;
    grid-template: 200px/ 1fr 3fr;
    color: #ffffff;
    width: 85%;
    box-shadow: 5px 5px 10px black;
}
header h1{
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.logo{
    margin: 0 auto;
    border-radius: 60px;
    width: 110px;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
}
nav{
    margin: auto;
    width: 75%;
}
.navigation{
    display: flex;
    padding: 0;
	flex-direction: column;
    margin: auto;
    
}
.navigation li{
    margin-top: .5em;
    margin-bottom: .2em;
    background-color:  #5e0419;
    list-style-type: none;
    display: none;
    box-shadow: 5px 5px 10px black;
}
.navigation li a:hover{
    background-color: #f7e4e3;
    color: #1a5b7c;
}
.navigation li a{
    padding: 5px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: large;
    color:#ffffff;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
#menu {
    margin: 2px 20%;
    width: 60%;
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #5e0419;
	color: #ffffff;
    box-shadow: 5px 5px 10px black;
}
#menu::before {
	content: "☰";
}
#menu.open::before{
    content: "❌";
}
#hero_box{
    margin: 0 auto;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    width: 85%;
    box-shadow: 5px 5px 10px black;
}
#hero_box picture{
    grid-row: 1/3;
    grid-column: 1/3;
    width: 100%;
    justify-content: center;
}
#hero_image{
    grid-row: 1/3;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    justify-content: center;
}
#action_call{
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
}
#reserve_now{
    background-color: #5e0419;
    text-decoration: none;
    color:#ffffff;
    box-shadow: 5px 5px 10px black;
    font-weight: 1000;
    text-align: center;
    padding: 1em;
    border-radius: 10%;
    position: absolute;
    top: 20%;
    left: 20%;
}
#reserve_now:hover{
    background-color: #f7e4e3;
    color: #1a5b7c;
}
#reserve_now button{
    display: none;
}
main{
    padding: 2%;
    margin: auto;
    width: 75%;
}
#banner{
    display: none;
    background-color: #18455c;
    color: white;
}
#close {
    margin: 2px 0;
    width: 10%;
	font-size: 1.5rem;
	border: 0px;
	padding: 3px 7px 6px;
	background-color: #18455c;
	color: #ffffff;
}
#close::before {
	content: "❌";
}
.remove{
    display: none;
}
.card{
    text-align: center;
    border: 2px solid #38030f;
    background-color: #e2f1fa;
    margin: 5px;
    padding: 3px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
.card h2{
    text-decoration: underline;
}
.card li{
    text-align: left;
}
#weather{
    display: grid;
    grid-template: 50px .5fr 1fr/ 1fr 1fr 1fr;
    font-family: 'Inter', serif;
}
#weather h2{
    grid-column: 1/4;
    font-family: 'Poppins', sans-serif;
}
footer{
    display: grid;
    grid-template: 1fr .5fr/ 1fr  1fr;
    margin: 0 auto;
    padding: .5em;
    background-color: #1a5b7c;
    color: #ffffff;
    width: 85%;
    text-align: center;
    box-shadow: 5px 5px 10px black;
}
footer img{
    grid-row: 1/3;
}